<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query Input</title>
    <style>
        textarea {
            resize: both; 
            overflow: auto;
            width: 100%; 
            min-height: 50px;
            box-sizing: border-box; 
        }
        form {
            width: 100%;
            max-width: 600px; 
            margin: auto; 
        }
    </style>
</head>
<body>
    <form action="/" method="post">
        <textarea name="query" placeholder="Enter your SQL query"></textarea><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
